*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    background-image: url(./Images/back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    /* background-position: ; */
}

header{
    display: flex;
    padding: 0.6% 1.7%;

}

.first-logo{
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
    border-radius: 50%;
    background-image: url(./Images/holy-recordz-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}

.title-bar{
    padding-top: 16px;
    margin-left: 35%;
    /* border: 1px solid red; */
}

.title-bar h2{
    font-size: 33px;
    font-weight: 700;
    font-style: italic;
}

.title-bar p{
    padding-left: 36%;
    font-weight: 600;
    font-size: 18;
}

.second-logo{
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
    border-radius: 50%;
    margin-left: 33%;
    background-image: url(./Images/onto-logo-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#body-elements{
    display: flex;
    margin: 0.6% 2%;
}

.event-name{
    margin-left: 18%;
    margin-top: 2%;
    /* border: 1px solid red; */
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}
.shoot-image{
    width: 200px;
    height: 170px;
    /* border: 1px solid red; */
    margin-left: 10px;
    margin-top: 5px;
    background-image: url(./Images/camera-removebg-preview.png);
    opacity: 0.75;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.event-name h2{
    font-weight: 800;
    font-size: 38px;
    font-style: italic;
    font-stretch: expanded;
    padding-top: 15px;
}

.event-name strong{
    padding-left: 60px;
    font-style: normal;
    font-size: x-large;
}

.main-pic{
    margin-left: 16%;
    /* border: 1px solid red; */
}

.image-host{
    width: 360px;
    height: 320px;
    /* border: 1px solid red; */
    margin-bottom: 2%;
    padding-bottom: 10px;
    background-image: url(./Images/ofnell-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35%;
}

.tag-name{
    margin-left: 140px;
}

.tag-name p{
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    color: rgb(12, 12, 11);
}

.tag-name strong{
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
}

#guest-section{
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.guest-host-title{
    margin-left: 45%;
}

.guest-host-title strong{
    font-style: italic;
    font-size: large;
}

.artists-roll{
    display: flex;
    flex-direction: row;
}

.roll-images{
    width: 120px;
    height: 100px;
    /* border: 1px solid red; */
    border-radius: 45%;
    margin-top: 1%;
}
#deng{
    margin-left: 7%;
    background-image: url(./Images/Deng-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#pillz{
    margin-left: 8%;
    background-image: url(./Images/Pillz-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#jzyno{
    margin-left: 8%;
    background-image: url(./Images/jzyno-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#shontelle{
    margin-left: 8%;
    background-image: url(./Images/shontelle-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#wallace{
    margin-left: 8%;
    background-image: url(./Images/wallace-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#gusee{
    margin-left: 8%;
    background-image: url(./Images/Screenshot_from_2023-03-03_21-45-25-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.artist-names-row{
    margin-top: 3px;
    display: flex;
}

#names-flex strong{
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

.deng-name{
    margin-left: 8.5%;
}

.pillz-name{
    margin-left: 15%;
}

.jzyno-name{
    margin-left: 12.5%;
}

.shontelle-name{
    margin-left: 11%;
}

.wallace-name{
    margin-left: 7%;
}

.gusee-name{
    margin-left: 9.5%;
}

footer{
    display: flex;
    margin-left: 4%;
    margin-top: 1%;
}

.social-icons{
    margin-left: 15%;
    padding-top: 1.5%;
}

.social-icons i{
    justify-content: space-evenly;
    padding: 5px 24px;
}

.social-icons i a{
    text-decoration: none;
    color: gray;
}

.social-icons i a:hover{
    color: red;
}

.entry-to-time{
    margin-left: 6%;
}

#last-last{
    display: flex;
}

#last-last p{
    margin-left: 6px;
    font-size: large;
}